{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="A short description." />
    <meta name="keywords" content="put, keywords, here" />
    <link rel="stylesheet" type="text/css" href="{% static 'forum/style.css' %}" />
    <title>My forums</title>
</head>
<body>
    <div id="wrapper">
        <div id="menu">
            <a class="item" href="/forum">Home</a> -
            <a class="item" href="/forum/topic">Create a topic</a> -
            <a class="item" href="/admin">Create a category</a> -

            <div id="userbar">
                <div id="userbar">
                        {% if user.is_authenticated %}
                          User: {{ user.get_username }}
                          <a class="item" href="{% url 'logout'%}?next=/forum/">Logout</a>   
                        {% else %}
                          <a class="item" href="{% url 'login'%}?next=/forum/">Login</a> 
                            / <a class="item" href="{% url 'signup' %}">Signup</a>
                        {% endif %} 
                       </div>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
<div id="footer">Created by Anthony Fuller</div>
</body>
</html>