{% extends 'forum/base.html' %}

{% block content %}
<table border="1">
    <tr>
        <th>Category</th>
        <th>Last topic</th>
    </tr>      
    {% if category_list %}
        {% for Categories in category_list %}
        <tr>
            <td class="leftpart">
                <h3><a href="/forum/{{ Categories.id }}/">{{ Categories.category_name }}</a></h3>
                {{ Categories.category_description}}
            </td>
            <td class="rightpart">
                <a href="{{ topic.id }}">Topic subject</a> at 10-10
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <p>The categories could not be displayed, please try again later.</p>
    {% endif %}        
</table>
{% endblock %}